/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /*width: 100%;*/
  height: 70px;
  background-color:#EC715F;
  margin: 0 auto;
  display:flex;
  justify-content:center;
}

nav {
  width: 1024px;
  height:100%;
  margin: 0 auto;
  /*background-image: url(img2/logo.png);*/
  /*background-size: ;*/
  display: flex;
}

.image1 {
  height: 100%;
}

.nav-list {
  margin-left: auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
  line-height: 70px;

}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("img 2/mv.png");
  background-size: cover;
  background-position: top;
}

.main-visual-content {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text {
  color: #FAFAFA;
  font-size: 64px;
}

.main-visual-text2 {
  color: #FAFAFA;
  font-size: 20px;
  margin-top: 10px;
}

/*main {*/

  /*display: flex;*/
/*  justify-content: center;*/
  /*margin: 0 auto;*/
/*}*/

.portfolio {
  /*width: 920px;*/
  text-align: center;
  background-color: #ECEFF1;
}

.portfolio-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}

.portfolio-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  /*-webkit-transform: translateX(-50%);*/
  transform: translateX(-50%);
}

.portfolio-text {
  padding: 30px 0;
}

.portfolio-content {
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  /*margin-bottom: 90px;*/
  width: 920px;
  padding-bottom:90px;
}

.portfolio-image {
  width: 300px;
  height: 250px;


}

.portfolio-image:nth-child(1) {
  background-image: url("img 2/sketch.jpg");
  background-size: cover;
  margin-bottom: 10px;
  margin-right: 10px;
}

.portfolio-image:nth-child(2) {
  background-image: url("img 2/websuku.png");
  background-size: cover;
  margin-bottom:10px;
  margin-right: 10px;
}

.portfolio-image:nth-child(3) {
  background-image: url("img 2/write.jpg");
  background-size: cover;
  margin-bottom:10px;
}

.portfolio-image:nth-child(4) {
  background-image: url("img 2/webcamp.png");
  background-size: cover;
  margin-right: 10px;
}

.portfolio-image:nth-child(5) {
  background-image: url("img 2/talk.jpg");
  background-size: cover;
  margin-right: 10px;
}

.portfolio-image:nth-child(6) {
  background-image: url("img 2/webcamp-mother.png");
  background-size: cover;
}

.Feature {
  /*width: 980px;*/
  text-align: center;
}

.feature-title {
  font-size: 32px;
  color:#000000;
  padding-top: 90px;
  position: relative;
}

.feature-title::after {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  transform: translateX(-50%);
}

.feature-text {
  padding: 30px 0;
}

.feature-content {
  display:flex;
  justify-content: center;
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.feature-box {
  width: 320px;
}

.feature-box:nth-child(1) {
  margin-right:10px;
}

.feature-box:nth-child(2) {
  margin-right:10px;
}

.strength {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.box-text {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.social {
  font-size: 60px;
}

.Profile {
  text-align: center;
  background-color: #ECEFF1;
}

.profile-container {
  width: 1024px;
}

.profile-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}

.profile-title::after {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  transform: translateX(-50%);
}

.profile-text {
  padding: 30px 0;
}

/*配置未完成*/
.profile-content {
  display: flex;
  justify-content: center;
  width: 1024px;
  padding-bottom: 90px;
  text-align: center;
  margin: 0 auto;
  /*position: relative;*/
}

.profile-image {
  width:512px;
  margin: 0 auto;

}

.image2 {
  border-radius:50%;

}

.profile-image-text {
  margin: 0 auto;
  text-align: left;
  width: 512px;
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
}

.myname {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname-text {
  font-size: 16px;
  color:#000000;
  padding-bottom: 20px;
}

.myskills {
  font-size: 20px;
  padding-bottom: 5px;
}

.myskills-text {
  font-size: 16px;
  color:#000000;
}

.Contact {
  text-align: center;

}

.Contact-container {
  width: 800px;

  margin: 0 auto;
}

.contact-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}

.contact-title::after {
  content: ' ';
  position: absolute;
  left:50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  transform: translateX(-50%);
}

.contact-text {
  padding: 30px 0;
}

.contact-content {
  display:flex;
  justify-content: center;
  padding-bottom: 90px;
}

.contact-left {
  width: 50%;
  /*text-align: left;*/

}

.left-text:nth-child(odd) {
  font-size: 20px;
  padding-bottom: 5px;
}

/*間隔未完成*/
/*.left-text:nth-child(2) {*/
/*  padding-bottom: 20px;*/
/*}*/

.contact-right {
  /*width: 50%;*/
  margin: 0 auto;
  text-align:center;
}

.right-box {
  text-align: left;
}

.right-text {
  font-size: 20px;
  padding-bottom: 5px;
  text-align:left;
  margin: 0 auto;
}

.contact-icon {
  font-size: 50px;
  text-align:left;
}

footer {
  height: 60px;
  background-color: #EC715F;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 16px;
  color: #FAFAFA;
  /*text-align: center;*/
}

@media screen and (max-width:767px) {
  header {
    width: 90%;
    height:50px;

  }

  .drawer_open {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    border-style: solid;
    border-color: #FAFAFA;
    margin: 5px;
    margin-left: auto;

  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #FAFAFA;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before {
    bottom: 8px;
  }

  .drawer_open span:after {
    top: 8px;
  }

  nav {
    width: 90%;
    display: block;


  }

  .nav-list {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  .main-visual {
    width: 90%;
  }

  main {
    width:90%;
  }

  .portfolio-content {
    display:block;
  }

  .feature-content {
    display:block;
  }

  .profile-content {
    display: block;
  }

  .contact-content {
    display:block;
  }

  footer {
    width: 90%;
    display: block;
  }
}