/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /*width: 100%;*/
  height: 70px;
  background-color:#EC715F;
  margin: 0 auto;
}

nav {
  width: 1024px;
  margin: 0 auto;
  /*background-image: url(img2/logo.png);*/
  /*background-size: ;*/
  display: flex;
}

.image1 {
  height: 70px;
}

.nav-list {
  margin-left: auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
  line-height: 70px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("img 2/mv.png");
  background-size: cover;
  background-position: top;
}

.main-visual-content {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text {
  color: #FAFAFA;
  font-size: 64px;
}

.main-visual-text2 {
  color: #FAFAFA;
  font-size: 20px;
  margin-top: 10px;
}

main {
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
  /*margin: 0 auto;*/
}

.portfolio {
  width: 920px;
  text-align: center;
}

.portfolio-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}

.portfolio-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  /*-webkit-transform: translateX(-50%);*/
  transform: translateX(-50%);
}

.portfolio-text {
  padding: 30px 0;
}

.portfolio-content {
  display:flex;
  flex-wrap:wrap;
  margin-bottom: 90px;
}

.portfolio-image {
  width: 300px;
  height: 250px;

}

.portfolio-image:nth-child(1) {
  background-image: url("img 2/sketch.jpg");
  background-size: cover;
  margin-bottom: 10px;
  margin-right: 10px;
}

.portfolio-image:nth-child(2) {
  background-image: url("img 2/websuku.png");
  background-size: cover;
  margin-bottom:10px;
  margin-right: 10px;
}

.portfolio-image:nth-child(3) {
  background-image: url("img 2/write.jpg");
  background-size: cover;
  margin-bottom:10px;
}

.portfolio-image:nth-child(4) {
  background-image: url("img 2/webcamp.png");
  background-size: cover;
  margin-right: 10px;
}

.portfolio-image:nth-child(5) {
  background-image: url("img 2/talk.jpg");
  background-size: cover;
  margin-right: 10px;
}

.portfolio-image:nth-child(6) {
  background-image: url("img 2/webcamp-mother.png");
  background-size: cover;
}